.border-style {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.comment-section {
    height: 80%;
    display: inline-block;
    width: 95%;
    padding-right: 30px;
}
